---
import site from '../data/site.json';
const sections = site.nav;
import SearchBox from './SearchBox.astro';
---
<header class="site-header">
    <div class="wrap hstack">
        <a class="site-title" href="/">{site.authorName}</a>
        <nav>
            {sections.map(item => <a class="badge" href={item.href}>{item.label}</a>)}
        </nav>
        <div class="right">
        <SearchBox />
            </div>
    </div>
</header>
